@import '../styles/reset';
@import '../styles/variables';

html {
	font-family: Arial, Helvetica, sans-serif;
}

.narrow {
	max-width: 810px;
	width: 100%;
	padding-inline: 24px;
	margin-inline: auto;
}

pre {
	display: inline-block;
}
