@import '../styles/reset';
@import '../styles/variables';

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-block-start: var(--height-header);
}

.narrow {
	max-width: 810px;
	width: 100%;
	padding-inline: 24px;
}
