:root {
	--height-header: 80px;

	--c-dark-primary: #212121;
	--c-dark-secondary: #303030;
	--c-dark-tertiary: #424242;

	--c-light-primary: #fafafa;
	--c-light-secondary: #f5f5f5;
	--c-light-tertiary: #e0e0e0;
}
